.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22%; /* equivalent to 275px */
  background-color: #fff;
  border-right: 0.0625rem solid #e6ecf0; /* equivalent to 1px */
  padding: 0.9375rem; /* equivalent to 15px */
  margin-left: 2.875rem;
}

.sidebar__twitterIcons {
  display: flex;
  flex-direction: column;
}

 .icons p {
  display: flex;
  align-items: center;
  font-size: 1.375rem ; /* equivalent to 15px */
  color: #1c2938;
  padding: 10px 0;
   /* equivalent to 10px 20px */
  border-radius: 3.125rem; /* equivalent to 50px */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin:  0;

}

 .icons  p:hover {
  background-color:rgb(199, 192, 192);
}



 .icons p span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5em; /* equivalent to 40px */
  height: 1.563em; /* equivalent to 40px */
  margin-right: 0.9375em; /* equivalent to 15px */
  border-radius: 50%;
  font-size: 0.5625rem;

 
}

.icons p span svg {
  width: 1.5625rem; /* equivalent to 25px */
  height: 1.5625rem; /* equivalent to 25px */
  color: #1c2938;
  padding-right: 10px;
}
